{
    "printWidth": 80,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        {
            "files": ".github/**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
